$dark:	#343a40;
$gray: 	#868e96;
$light: #dee2e6;
$pblue: #21409A;

$colors: 
  ('blue', #E4E7F1, #5472cc),
  ('green', #DAFBF1, #12B886),
  ('red', #fcd9d9, #f03e3e),
  ('violet', #E5E5F0, #5F5DA2),
  ('orange', #fff3bf, #fd7e14);

