.cs {
	@extend .w-60-ns, .w-100, .center, .pa2, .pv4;
	&-fw {
		@extend .w-100-ns, .pv4;
	}
	&-afw{
		@extend .w-80-ns, , .pv0, .center;
	}
}

.indexpage, .mainheader, *{
.sec-2 {
	@extend .cf, .ph3, .ph5-ns, .pv4, .w-100, .center;
	.hl {
		@extend .fn, .fl-ns, .w-20-ns, .w-30-m, .pr4-ns;
	}
	.pr { @extend .fn, .fl-ns, .w-70-ns, .w-100;

	}
}}

.blogpost{
	.sec-3 {
		@extend .cf, .pv6-ns, .pv3, .w-100, .center;
		.cont {
			@extend .fn, .ph5-ns, .ph3, .fl-ns, .w-50-ns, .pr4-ns, .dt;
			
				.conttext {
				
					@extend .dtc
				}
			
	}
	.imc { @extend .fn, .fl-ns, .w-50-ns, .f5;

	}
}
}

.indexpage, .footer {@extend .pb4; margin-bottom: 0;}

.featured__work{background-color: #f0f0ee;}
.main__content{background-color: #f6f1e5}