@import url('https://fonts.googleapis.com/css?family=Martel+Sans:300,400,700|Martel:300');



$body_type: 'Martel Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$special : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$line-height: 2;
.headstyle{font-family: $body_type; line-height: $line-height; @extend .ttu, .fw6, .tracked-mega; text-transform: uppercase; text-decoration:none;}
.special{font-family: $special}

body{
	font-family: $body_type;
	line-height: $line-height;
	letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6 {@extend .headstyle; color: $dark;}

a {	text-decoration: none; 
	box-shadow: none;
	color: inherit;
	@extend .dim;
    &:hover {
   		text-decoration: none;
   	} 
}

.blogpost{
	font-size: 1.2em;
	letter-spacing: 0.04em;
	p{ font-weight: 300;}
}

.process:after{
		content: "\27F6";
		@extend .moon-gray, .pr5, .v-mid, .fr;
		font-size: .8em;
	}

.heading{
 &__gray {@extend .headstyle; color: white; background-color: $dark; width: fit-content; padding: 0 0.5em;}
 &__white {@extend .headstyle; color: white;}
 &__logotype {@extend .f2, .mt0, .fw8; font-family: $special; text-transform: none; letter-spacing: 0;}
 &__main{font-family: $special; letter-spacing: 0em; text-transform: none; @extend .fw3 }
}

.section-title, .section-title span {@extend .b, .ttu, .tracked-mega, .f5; color: #21409A !important}

.colophon {color: $dark;
	span {
	color: $dark;
	}
}

.blogpost {
	
	blockquote {
		font-family: $special;
		text-align: center;
		@extend .f4;
		@extend .ma4-l;
		@extend .fw7;
		line-height: 2;
		border: none;
		font-style: normal;
		@extend .gray;
	}

}

.captions {
	@extend .headstyle, .f7;
	color: $gray;
	span {
		color: $gray;
	}
	&__white {
		@extend .headstyle, .f7;
		color: white;
	}
	&__dark {
		@extend .headstyle, .f7;
		color: $dark;	
		span {
		color: $gray;
	}
	}
}



@each $color in $colors {
    $name: nth($color, 1);
    $bg: nth($color, 2);
    $txt: nth($color, 3);
    ._#{$name} { 
	a {
		border-bottom: 2px solid $txt;
		padding-bottom: 2px;
	}
	blockquote {
		color: $txt;
		font-size: 1.4em;
	}
	.captions__st {

	 	@extend .captions; color: $txt;
	 	span {color: $gray;}
	 }
	.blogpost{

	 a{
	 	color: $txt;
	 	border: none;
		}
	.heading__color {@extend .headstyle; color: white; background-color:$txt; width: fit-content; padding: 0 0.5em;}
	.heading__white {@extend .headstyle; color: $txt; background-color:white; width: fit-content; padding: 0 0.5em;}

    }
}}
