@import 'vendor/tachyons';
@import 'variables/colors';
@import 'variables/modules';
@import 'variables/type';

.indexpage, .mainheader, .footer {}

.mainheader {margin-bottom: 0}

.icon{
		background-position: 50% !important;
        background-size: 32px !important;
        height: 32px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 32px;

}
.icons {
        
        &__logo{
       		@extend.icon; background: url(assets/Logo.svg);
        }
        &__linkedin{
        	@extend.icon; background: url(assets/linkedin-box.svg);
        }
        &__email{
        	@extend.icon; background: url(assets/email.svg);
        }
        &__medium{
            @extend.icon; background: url(assets/medium.svg);
        }
        &__pdf{
            @extend.icon; background: url(assets/pdf.svg); background-size: 24px !important; width: 24px !important; height: 24px !important;;
        }
    }



.footer__menu{padding: 0;
 li {
    padding: 0;   
     a{
        margin: 0px; display: block; width: 100%; height: 100%;
        }
    }
}




