@import 'vendor/tachyons';
@import 'variables/colors';
@import 'variables/modules';
@import 'variables/typography';


.icon{
		background-position: 50% !important;
        background-size: 32px !important;
        height: 32px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 32px;

}
.icons {
        
        &__logo{
       		@extend.icon; background: url(assets/Logo.svg);
        }
        &__linkedin{
        	@extend.icon; background: url(assets/linkedin-box.svg);
        }
        &__email{
        	@extend.icon; background: url(assets/email.svg);
        }
    }

/*.neg-margins {@extend .nl6-ns, .nr6-ns}*/







